            
            
            .typographyMobileLegacyH1Gamma 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 26px;
              line-height: 36px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyMobileLegacyH2Delta 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 32px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyMobileLegacyH3Epsilon 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              line-height: 29px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyMobileLegacyH4Zeta 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyMobileLegacyH5Eta 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyMobileLegacyAKilo 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 40px;
              line-height: 53px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyMobileLegacyBAlpha 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 34px;
              line-height: 45px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyMobileLegacyCBeta 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 40px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyH1Alpha 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 34px;
              line-height: 45px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyH2Beta 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 40px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyH3Gamma 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 26px;
              line-height: 36px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyH4Delta 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 32px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyH5Epsilon 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              line-height: 29px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyAGiga 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 70px;
              line-height: 93px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyBMega 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 50px;
              line-height: 67px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyCKilo 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 40px;
              line-height: 53px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyDesktopLegacyBase 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 10px;
              }            
            
            .typographySmallsLegacyKCenti 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 10px;
              }            
            
            .typographySmallsLegacyLMilli 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 17px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 10px;
              }            
            
            .typographySmallsLegacyMMicro 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 10px;
              }            
            
            .typographySmallsLegacyNNano 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 11px;
              line-height: 15px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 10px;
              }            
            
            .typographyLatoBaseIntro 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 142%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoBaseIntroSmall 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 148%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoBaseBase 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 156%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoBaseBaseSmall 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 156%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoBaseBaseStrong 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 156%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopDisplay1 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 900;
              font-size: 96px;
              line-height: 112%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopDisplay2 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 900;
              font-size: 70px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopDisplay3 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 900;
              font-size: 56px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopH1 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 900;
              font-size: 40px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopH2 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 800;
              font-size: 32px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopH3 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 32px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopH4 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 132%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopH5 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 132%;
              letter-spacing: 0.01em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoDesktopH6 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 136%;
              letter-spacing: 0em;
              text-indent: 0px;
              text-transform: capitalize;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileDisplay1 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 900;
              font-size: 50px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileDisplay2 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 800;
              font-size: 40px;
              line-height: 112%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileDisplay3 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 800;
              font-size: 34px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileH1 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileH2 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 26px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileH3 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 124%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileH4 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              line-height: 124%;
              letter-spacing: 0.01em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileH5 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 132%;
              letter-spacing: 0.01em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLatoMobileH6 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 136%;
              letter-spacing: 0em;
              text-indent: 0px;
              text-transform: capitalize;
              margin-bottom: 0px;
              }            
            
            .typographyLoraDisplay1 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 700;
              font-size: 90px;
              line-height: 112%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraDisplay2 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 700;
              font-size: 70px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraDisplay3 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 700;
              font-size: 50px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraH1 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 700;
              font-size: 40px;
              line-height: 112%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraH2 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 700;
              font-size: 34px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraH3 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              line-height: 120%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraH4 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 700;
              font-size: 26px;
              line-height: 124%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraH5 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 132%;
              letter-spacing: 0.01em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraH6 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 500;
              font-size: 22px;
              line-height: 136%;
              letter-spacing: 0em;
              text-indent: 0px;
              text-transform: capitalize;
              margin-bottom: 0px;
              }            
            
            .typographyLoraIntro 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 142%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraIntroSmall 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 148%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraBase 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 156%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraBaseSmall 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 156%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraItalic 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 156%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyLoraItalicSmall 
            {
              font-family: "Lora";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 156%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyFormFormTitle 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 26px;
              line-height: 100%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyFormFormSubtitle 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 132%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyFormFormIntro 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 128%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyFormFormBase 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 132%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyFormFormCaption 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 132%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyNavNav 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 128%;
              letter-spacing: 0.01em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyNavNavSmall 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 128%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyNavLabel 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 180%;
              letter-spacing: 0.05em;
              text-indent: 0px;
              text-transform: uppercase;
              margin-bottom: 0px;
              }            
            
            .typographyNavLabelSmall 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 11px;
              line-height: 180%;
              letter-spacing: 0.05em;
              text-indent: 0px;
              text-transform: uppercase;
              margin-bottom: 0px;
              }            
            
            .typographyNavButtonLarge 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 900;
              font-size: 20px;
              line-height: 24px;
              letter-spacing: 0.1em;
              text-indent: 0px;
              text-transform: uppercase;
              margin-bottom: 0px;
              }            
            
            .typographyNavButton 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 25px;
              letter-spacing: 0.1em;
              text-indent: 0px;
              text-transform: uppercase;
              margin-bottom: 0px;
              }            
            
            .typographyNavLink 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 180%;
              letter-spacing: 0.05em;
              text-indent: 0px;
              text-transform: uppercase;
              margin-bottom: 0px;
              }            
            
            .typographyNavLinkSmall 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 128%;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyTypographyParagraphXl 
            {
              font-family: "Lato";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 155%;
              letter-spacing: 0.01em;
              text-indent: 0px;
              margin-bottom: 16px;
              }